---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
spec:
  interval: 30m
  chart:
    spec:
      chart: node-feature-discovery
      version: 0.17.3
      sourceRef:
        kind: HelmRepository
        name: node-feature-discovery
        namespace: flux-system
  values:
    worker:
      config:
        sources:
          cpu:
            cpuid:
              attributeWhitelist: [AVX, AVX2]
        core:
          labelSources:
            - pci
            - system
            - usb
            - cpu

    prometheus:
      enable: true
