---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name uptime-kuma
spec:
  dependsOn:
    - name: longhorn
      namespace: storage
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  releaseName: *name
  maxHistory: 1
  values:
    controllers:
      app:
        enabled: true
        type: deployment
        replicas: 1

        containers:
          app:
            image:
              repository: louislam/uptime-kuma
              tag: 1.23.16
              pullPolicy: IfNotPresent

            env:
              TZ: ${TIMEZONE}
              UPTIME_KUMA_PORT: &port 3001
              UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN: true

            resources:
              requests:
                cpu: 15m
              limits:
                memory: 256Mi

    service:
      uptime-kuma:
        controller: app
        ports:
          http:
            port: *port

    ingress:
      uptime-kuma:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        className: traefik-private
        hosts:
          - host: &uptime-kuma-path kuma.${SECRET_PRIVATE_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: uptime-kuma
                  port: http
        tls:
          - secretName: ${SECRET_PRIVATE_DOMAIN//./-}-tls
            hosts:
              - *uptime-kuma-path

    persistence:
      uptime-kuma-data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: uptime-kuma-data
        globalMounts:
          - path: /app/data
            readOnly: false
