controllers:
  app:
    enabled: true
    type: deployment
    replicas: 1
    pod:
      hostname: ${app}
      annotations:
        app.kubernetes.io/name: ${app}
        app.kubernetes.io/instance: ${app}
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/qbittorrent
          tag: 5.1.4
          pullPolicy: IfNotPresent
        env:
          # PUID: 1000
          # PGID: 1000
          TZ: ${TIMEZONE}
          QBT_WEBUI_PORT: ${webui_port}
          QBITTORRENT__BT_PORT: ${torrent_port}
        resources:
          requests:
            cpu: 100m
            memory: 500Mi
          limits:
            memory: 1Gi
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        probes:
          liveness: &probe
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v2/app/version
                port: ${webui_port}
                initialDelaySeconds: 30
                periodSeconds: 30
                timeoutSeconds: 10
                failureThreshold: 6
          readiness: *probe


defaultPodOptions:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: node-priority
                operator: In
                values:
                - "1"
        - weight: 2
          preference:
            matchExpressions:
              - key: node-priority
                operator: In
                values:
                - "2"

service:
  web:
    controller: app
    ports:
      http:
        port: ${webui_port}
  torrent:
    controller: app
    ports:
      tcp:
        port: ${torrent_port}
        protocol: TCP
      udp:
        port: ${torrent_port}
        protocol: UDP

route:
  main:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: traefik-private-default
        namespace: network
        sectionName: https-wildcard-secret-private-domain
    hostnames:
      - ${host}
    rules:
      - backendRefs:
        - name: ${app}-web
          port: ${webui_port}



persistence:
  qbittorrent-config:
    existingClaim: qbittorrent-data
    globalMounts:
      - path: /config
        readOnly: false
  media:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: entertainment-storage-nfs-media
    globalMounts:
      - path: /shared/Media
        readOnly: false

