---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name mediamanager-secrets
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: infisical
    kind: ClusterSecretStore
  target:
    name: *name

  dataFrom:
    - find:
        name:
          regexp: "MEDIAMANAGER_(.*)"

  data:
    - secretKey: MEDIAMANAGER_DATABASE__HOST
      remoteRef:
        key: &dbKey postgres-pguser-mediamanager
        property: host
      sourceRef: &dbSourceRef
        storeRef:
          name: crunchy-pgo-secrets
          kind: ClusterSecretStore
    - secretKey: MEDIAMANAGER_DATABASE__PORT
      remoteRef:
        key: *dbKey
        property: port
      sourceRef: *dbSourceRef
    - secretKey: MEDIAMANAGER_DATABASE__USER
      remoteRef:
        key: *dbKey
        property: user
      sourceRef: *dbSourceRef
    - secretKey: MEDIAMANAGER_DATABASE__PASSWORD
      remoteRef:
        key: *dbKey
        property: password
      sourceRef: *dbSourceRef
    - secretKey: MEDIAMANAGER_DATABASE__DBNAME
      remoteRef:
        key: *dbKey
        property: dbname
      sourceRef: *dbSourceRef