---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-cloudflare
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.20.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  maxHistory: 2
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      repository: registry.k8s.io/external-dns/external-dns
      tag: v0.20.0

    fullnameOverride: *app
    provider: cloudflare
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-api-token-secret
            key: api-token
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      # - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --ignore-ingress-tls-spec
      - --ingress-class=traefik-public
      - --gateway-name=traefik-public-default
    triggerLoopOnEvent: true
    policy: upsert-only
    sources: ["crd", "ingress", "gateway-httproute", "gateway-grpcroute"]
    txtPrefix: k8s.
    txtOwnerId: default
    domainFilters: []
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: cloudflare-api-token-secret
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *app
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
