---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yml
  - ./cloudflared/ks.yml
  - ./echo-server/ks.yml
  - ./external-dns/ks.yml
  - ./ingress-nginx/ks.yml
  - ./k8s-gateway/ks.yml
