# MediaManager Configuration File
# https://maxdorninger.github.io/MediaManager/introduction.html


[misc]
frontend_url = "https://${host}/"
cors_urls = ["https://${host}"]

image_directory = "/metadata"
tv_directory = "/shared/Media/series"
movie_directory = "/shared/Media/Filmes"
torrent_directory = "/shared/Media/torrent"

# Custom Media Libraries
[[misc.tv_libraries]]
name = "AnimeTV"
path = "/shared/Media/Anime"

# Custom Media Libraries
[[misc.tv_libraries]]
name = "AnimeMovies"
path = "/shared/Media/Anime"

[auth]
email_password_resets = false
session_lifetime = 86400
admin_emails = ["rodrigommpereira309@gmail.com"]

# OpenID Connect settings
[auth.openid_connect]
enabled = true
name = "Authentik"

[torrents]
# qBittorrent settings
[torrents.qbittorrent]
enabled = true
host = "http://qbittorrent-web"
port = 8080
username = "admin"

# SABnzbd settings
[torrents.sabnzbd]
enabled = true
host = "http://sabnzbd"
port = 8080

[indexers]
# Prowlarr settings
[indexers.prowlarr]
enabled = true
url = "http://prowlarr:9696"


# Title-based scoring rules
[[indexers.title_scoring_rules]]
name = "prefer_h265"
keywords = ["h265", "hevc", "x265", "h.265", "x.265"]
score_modifier = 100
negate = false

[[indexers.title_scoring_rules]]
name = "avoid_cam"
keywords = ["cam", "ts"]
score_modifier = -10000
negate = false

# Indexer flag-based scoring rules
[[indexers.indexer_flag_scoring_rules]]
name = "reject_nuked"
flags = ["nuked"]
score_modifier = -10000
negate = false

# Scoring rulesets
[[indexers.scoring_rule_sets]]
name = "default"
libraries = ["ALL_TV", "ALL_MOVIES"]
rule_names = ["prefer_h265", "avoid_cam", "reject_nuked"]

[[indexers.scoring_rule_sets]]
name = "strict_quality"
libraries = ["ALL_MOVIES"]
rule_names = ["prefer_h265", "avoid_cam"]

# # Metadata relay
# [metadata]
# [metadata.tmdb]
# tmdb_relay_url = "http://mediamanager-metadata-relay.default.svc.cluster.local:8000/tmdb"

# [metadata.tvdb]
# tvdb_relay_url = "http://mediamanager-metadata-relay.default.svc.cluster.local:8000/tvdb"
