apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-private
spec:
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 5m
  interval: 1h # this is for drifting of the helm created resources
  values:
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""

    ingressClass:  # @schema additionalProperties: false
      enabled: true
      isDefaultClass: true
      name: "traefik-private"

    globalArguments:
      - "--api.insecure=true"
      - "--global.sendanonymoususage=false"
      - "--global.checknewversion=false"

    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"
      - "--log.level=INFO"

    deployment:
      enabled: true
      replicas: 1
      annotations: {}
      podAnnotations: {}
      additionalContainers: []
      initContainers: []

    ingressRoute:
      dashboard:
        enabled: false

    experimental:
      plugins:
        fail2ban:
          moduleName: "github.com/tomMoulard/fail2ban"
          version: "v0.8.3"

    ports:
      traefik:
        expose:
          default: true
      web:
        port: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        port: 443
        http3:
          enabled: true
        advertisedPort: 4443
        tls:
          enabled: true

    gateway:
      enabled: false

    providers:
      kubernetesCRD:
        enabled: true
        ingressClass: traefik-private
        allowExternalNameServices: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
        ingressClass: traefik-private
        allowExternalNameServices: true
        publishedService:
          enabled: true
      kubernetesGateway:
        enabled: true
        nativeLBByDefault: true
        labelselector: "traefik=private"

    gatewayClass:
      enabled: true
      name: traefik-private
      labels:
        traefik: private

    rbac:
      enabled: true
    service:
      enabled: true
      type: LoadBalancer
      annotations:
        lbipam.cilium.io/ips: "${SECRET_TRAEFIK_PRIVATE_ADDR}"
      spec:
        externalTrafficPolicy: Cluster
