controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/gethomepage/homepage
          tag: v1.10.1@sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb
        env:
          TZ: Europe/Lisbon
          HOMEPAGE_ALLOWED_HOSTS: ${SECRET_PRIVATE_DOMAIN},newtab.${SECRET_PUBLIC_DOMAIN1}
        resources:
          requests:
            cpu: 15m
            memory: 200M
          limits:
            memory: 512Mi
defaultPodOptions:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: node-priority
                operator: In
                values:
                - "1"
        - weight: 2
          preference:
            matchExpressions:
              - key: node-priority
                operator: In
                values:
                - "2"
service:
  app:
    controller: app
    ports:
      http:
        port: 3000
ingress:
  homepage:
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    className: traefik-private
    hosts:
      - host: &homepage-path ${SECRET_PRIVATE_DOMAIN}
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - secretName: ${SECRET_PRIVATE_DOMAIN//./-}-tls
        hosts:
          - *homepage-path
  homepage-public:
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-production
      external-dns.alpha.kubernetes.io/target: ${SECRET_PUBLIC_DOMAIN1}
    className: traefik-public
    hosts:
      - host: &homepage-public-path newtab.${SECRET_PUBLIC_DOMAIN1}
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - secretName: newtab-${SECRET_PUBLIC_DOMAIN1//./-}-tls
        hosts:
          - *homepage-public-path
persistence:
  config:
    enabled: true
    type: nfs
    server: ${SECRET_NFS_ADDR}
    path: /Documents
    globalMounts:
      - path: /app/config
        subPath: Homepage
serviceAccount:
  homepage: {}
